/*studentLogin*/
.logpage{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000033;
    text-align: center;
    margin: 0;
}
.intro{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.welcome{
    font-size: 2.5em;
    color: #45c1ea;
}
.h2Wel{
    color: #45c1ea;
}
.logGroup{
    position: absolute;
    top: 40%;
    left: 38%;
    width: 370px;
    display: flex;
    flex-direction: column;
}
.boxlog{
    position: relative;
    width: 370px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.boxlog > button{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    margin-left: 30px;
    background: transparent;
    width: 80%;
    align-self: start;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.boxlog > label{
    display: block;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    align-self: self-start;
    margin-left: 40px;
}
.logintxt{
    position: absolute;
    color: white;
    top: 30%;
    left: 38%;
    font-size: 2em;
}

.boxlog > input{
    position: relative;
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    height: 30px;
    margin-bottom: 20px;
}
.logbtn{
    position: relative;
    background: #45c1ea;
    font-weight: bolder;
    color: #000033;
    height: 35px;
    width: 90px;
    border-radius: 10px;
    left: 280px;
}
.forget{
    position: relative;
    right: 120px;
    bottom: 30px;
    color: #45c1ea;
    border: none;
    background: transparent;
}
.sPaneError{
    display: none;
}
.sPaneError > h1{
    color: #000033;
}
.sPaneError > h3{
    position: relative;
    margin-top: -10px;
}
.sPaneError > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.showSPaneError{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 380px;
    height: 170px;
    top: 45%;
    left: 37%;
    border-radius: 8px;
    z-index: 10;
}
.logStudType{
    display: none;
}
.logStudType > button{
    border: none;
    background: transparent;
    width: 200px;
}
.showLogStudType{
    display: flex;
    flex-direction: column;
}
.logJunior.activess{
    background-color: gray;
}
.logSenior.activess{
    background-color: gray;
}
/* Teacher Login */
.telogpage{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000033;
    text-align: center;
    margin: 0;
}
.tIntro{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.tWelcome{
    font-size: 2.5em;
    color: #45c1ea;
}
.tH2Wel{
    color: #45c1ea;
}
.tBoxlog{
    position: absolute;
    top: 40%;
    left: 38%;
    width: 370px;
    height: 200px;
    border-radius: 8px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.tBoxlog > label{
    display: block;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    align-self: self-start;
    margin-left: 40px;
}
.tLogintxt{
    position: absolute;
    color: white;
    top: 30%;
    left: 38%;
    font-size: 2em;
}

.tBoxlog > input{
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    height: 30px;
}
.tLogbtn{
    position: absolute;
    background: #45c1ea;
    font-weight: bolder;
    color: #000033;
    height: 35px;
    width: 90px;
    border-radius: 10px;
    top: 68.5%;
    left: 56.4%;
}
.tForget{
    position: absolute;
    top: 69%;
    left: 38%;
    color: #45c1ea;
    border: none;
    background: transparent;
}
.tPaneError{
    display: none;
}
.tPaneError > h1{
    color: #000033;
}
.tPaneError > h3{
    position: relative;
    margin-top: -10px;
}
.tPaneError > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.showTPaneError{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 380px;
    height: 170px;
    top: 45%;
    left: 37%;
    border-radius: 8px;
    z-index: 10;
}
/* Admin Log In */
.adLogpage{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000033;
    text-align: center;
    margin: 0;
}
.adIntro{
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.adWelcome{
    font-size: 2.5em;
    color: #45c1ea;
}
.adH2Wel{
    color: #45c1ea;
}
.adBoxlog{
    position: absolute;
    top: 40%;
    left: 38%;
    width: 370px;
    height: 200px;
    border-radius: 8px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
}
.adBoxlog > label{
    display: block;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    align-self: self-start;
    margin-left: 40px;
}
.adLogintxt{
    position: absolute;
    color: white;
    top: 30%;
    left: 38%;
    font-size: 2em;
}

.adBoxlog > input{
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    height: 30px;
}
.adLogbtn{
    position: absolute;
    background: #45c1ea;
    font-weight: bolder;
    color: #000033;
    height: 35px;
    width: 90px;
    border-radius: 10px;
    top: 68.5%;
    left: 56.4%;
}
.adForget{
    position: absolute;
    top: 69%;
    left: 38%;
    color: #45c1ea;
    border: none;
    background: transparent;
}
.aPaneError{
    display: none;
}
.aPaneError > h1{
    color: #000033;
}
.aPaneError > h3{
    position: relative;
    margin-top: -10px;
}
.aPaneError > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.showAPaneError{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 380px;
    height: 170px;
    top: 45%;
    left: 37%;
    border-radius: 8px;
    z-index: 10;
}
/* SignIn */
.signIn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000033;
    text-align: center;
    margin: 0;
}
.register{
    color: #45c1ea;
}
.haynaku{
    position: absolute;
    top: 30%;
    left: 38%;
    width: 370px;
    display: flex;
    flex-direction: column;
}
.signbox{
    position: relative;
    background-color: white;
    border-radius: 8px;
}
.signbox > label{
    display: block;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    align-self: self-start;
    margin-left: 40px;
}
.signbox > input{
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    height: 30px;
}
.signbox > button{
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    margin-left: -5px;
    background: transparent;
    width: 80%;
    align-self: start;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.chooseType{
    display: none;
}
.chooseType > button{
    border: none;
    background: transparent;
    width: 200px;
}
.pickJunior.actives{
    background-color: gray;
}
.pickSenior.actives{
    background-color: gray;
}
.utype{
    display: none;
}
.utype > button{
    border: none;
    background: transparent;
    width: 200px;
}
.pickStudent.active{
    background-color: gray;
}
.pickTeacher.active{
    background-color: gray;
}

.fileUpload{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.signbox > input{
    border: none;
    border-bottom: 2px solid black;
}
.regbtn{
    position: relative;
    background: #45c1ea;
    font-weight: bolder;
    color: #000033;
    height: 35px;
    width: 90px;
    border-radius: 10px;
    margin-left: 280px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.showChoose{
    display: block;
    position: relative;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    left: 40px;
    background: transparent;
    width: 80%;
    align-self: start;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.strndss{
    display: none;
}
.grdLvl{
    display: none;
}
.showHaysst{
    display: block;
    width: 80%;
    height: 30px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.showUtype{
    display: flex;
    flex-direction: column;
}
/* dashboard */
.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000033;
    text-align: center;
    overflow-y: scroll;
    margin: 0;
}
.fronts{
    display: flex;
    flex-direction: column;
    width: 370px;

}
.account{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.hnhslogo{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-self: center;
}
.accImg{
    background-image: url('./user.png');
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: cover;
}
.dashsign{
    position: relative;
    color: #45c1ea;
    margin-bottom: 20px;
}
.btngroup{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 370px;
    border-radius: 8px;
    background-color: white;
    margin-top: 20px;
}
.btngroup > button{
    border: none;
    background: transparent;
    align-self: start;
    height: 30px;
}
.enrollment{
    display: none;
}
.enrollment > button {
    width: 200px;
    border: none;
    background: transparent;
}
.grades{
    display: none;
}
.grades > button{
    width: 200px;
    border: none;
    background: transparent;
}

.show{
    display: flex;
    flex-direction: column;
}
.disptbl{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 370px;
    background-color: antiquewhite;
    border-radius: 8px;
}
.sHome{
    display: flex;
    flex-direction: column;
}
.sHome > p{
    font-size: 20px;
    margin-top: -10px;
}
.sHome > img{
    align-self: center;
    margin-bottom: 20px;
}
.hideSHome{
    display: none;
}
.reportGrades_jh{
    display: none;
}
.reportGrades_jh table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }
  
  .reportGrades_jh th,
  .reportGrades_jh td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .reportGrades_jh th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .reportGrades_jh tbody tr:hover {
    background-color: #f9f9f9;
  }
.reportGrades_sh{
    display: none;
}
.reportGrades_sh table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }
  
  .reportGrades_sh th,
  .reportGrades_sh td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .reportGrades_sh th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .reportGrades_sh tbody tr:hover {
    background-color: #f9f9f9;
  }
.showStable{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.outbtn{
    position: relative;
    width: 80px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: 8px;
    background-color: #45c1ea;
    color: #000033;
    font-weight: bolder;
}
.studAccInfo{
    display: none;
}
.studAccInfo > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 150px;
}
.studAccInfo > input{
    position: relative;
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    height: 30px;
    background: transparent;
    margin-left: 35px;
}
.studAccInfo > label{
    display: block;
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    align-self: self-start;
    margin-left: 40px;
}
.studAccInfo > button{
    position: relative;
    width: 80px;
    height: 30px;
    margin-left: 255px;
    margin-top: 20px;
    border-radius: 8px;
}
.showStudAccInfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
}
.curPassError{
    display: none;
}
.curPassError > h3{
    position: relative;
    margin-top: 20px;
}
.curPassError > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.showCurPassError{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 380px;
    height: 170px;
    top: 45%;
    left: 37%;
    border-radius: 8px;
    z-index: 10;
}
.passCheck{
    display: none;
}
.passCheck > h3{
    position: relative;
    margin-top: 20px;
}
.passCheck > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.studOpSuccess{
    display: none;
}
.studOpSuccess > h3{
    position: relative;
    margin-top: 20px;
}
.studOpSuccess > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 10px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.showPassCheck{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 380px;
    height: 170px;
    top: 45%;
    left: 37%;
    border-radius: 8px;
    z-index: 10;
}
.jhEnroll{
    display: none;
}
.jhEnroll > h2{
    position: relative;
    color: #000033;
}
.shEnroll{
    display: none;
}
.shEnroll > h2{
    position: relative;
    color: #000033;
}
.showEnrollment{
    position: relative;
    display: flex;
    flex-direction: column;
}
.showGodSub{
    display: none;
}
.showGodssSub{
    display: flex;
    flex-direction: column;
}
.jhFormDisp{
    display: none;
}
.shFormDisp{
    display: none;
}
.showPicForm{
    display: flex;
}
/*teacherdash*/
.teacherdash{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.teacherTitle{
    position: absolute;
    display: flex;
    width: 80%;
    height: 130px;
    background-color: #000033;
    top: 0%;
    left: 20%;
}
.teacherTitle > h1{
    color: #45c1ea;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 350px;
}
.teacherTitle > img{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 30px;
}
.teacherMenu{
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #0c0c0c;
}
.tAcc{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 50%;
}
.pp {
    position: absolute;
    left: 70px;
    color: white;
}
.tAccImg{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}
.thdash{
    position: relative;
    color: gray;
    right: 90px;
    margin-top: 60px;
}
.menuGroup{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-bottom: 1px solid gray;
}
.menuGroup > button{
    height: 40px;
    border: none;
    background: transparent;
    color: gray;
    align-self: start;
}
.setGroup{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}
.setGroup > button{
    height: 40px;
    border: none;
    background: transparent;
    color: gray;
    align-self: start;
}
.helpGroup{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}
.helpGroup > button{
    height: 40px;
    border: none;
    background: transparent;
    color: gray;
    align-self: start;
}
.teacherManage{
    position: absolute;
    top: 130px;
    left: 20%;
}
.teachAcc{
    display: none;
}
.teachAcc > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 190px;
    margin-top: 30px;
}
.teachAcc > h3{
    position: relative;
    color: #000033;
    margin-bottom: 20px;
}
.teachAcc > label{
    position: relative;
    display: block;
    align-self: start;
    margin-left: 40px;
    margin-top: 10px;
}
.teachAcc > input{
    position: relative;
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.teachAcc > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.inputGrade{
    display: none;
}
.inputGrade > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.inputGrade > h3{
    position: relative;
    color: #000033;
    margin-bottom: 20px;
}
.inputGrade > label{
    position: relative;
    display: block;
    align-self: start;
    margin-left: 40px;
    margin-top: 10px;
}
.inputGrade > input{
    position: relative;
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.inputGrade > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.inputGradesh{
    display: none;
}
.inputGradesh > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.inputGradesh > h3{
    position: relative;
    color: #000033;
    margin-bottom: 20px;
}
.inputGradesh > label{
    position: relative;
    display: block;
    align-self: start;
    margin-left: 40px;
    margin-top: 10px;
}
.inputGradesh > input{
    position: relative;
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.inputGradesh > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.showTeachAcc{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    border: black solid 2px;
    margin-left: 400px;
    margin-top: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); 
}
.tpassChanged{
    display: none;
}
.tpassChanged > h2{
    position: relative;
    margin-top: 20px;
    color: #000033;
}
.tpassChanged > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 20px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.tpassError{
    display: none;
}
.tpassError > h2{
    position: relative;
    margin-top: 20px;
    color: #000033;
}
.tpassError > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 20px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.showteaSuccess{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 380px;
    height: 170px;
    top: 45%;
    left: 37%;
    border-radius: 8px;
    z-index: 10;
}
.showAssClass {
    display: none;
  }
  
  .showAssClass h2 {
    font-family: Arial, sans-serif;
    color: #000033;
    text-wrap: nowrap;
  }
  
  .showAssClass > ul {
    list-style: none; 
    padding: 10px;
    border: 2px solid #007bff; 
    border-radius: 8px; 
    max-width: 300px;
    background-color: #f0f8ff; 
  }
  
  .showAssClass > ul li {
    padding: 5px 10px;
    font-family: Arial, sans-serif;
    color: #555;
    border-bottom: 1px solid #ccc; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
  }
  
  .showAssClass > ul li:hover {
    background-color: #dbeaff; 
  }
  
  .showAssClass > ul li:active {
    background-color: #a8c4ff; 
    color: #222; 
  }
  .showshhhCl{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 10px;
    left: 10px;
  }
  .teaFormDisp{
    display: none;
  }
  .showPicFormtea{
    display: flex;
}
.sectListSt{
    display: none;
}
.sectListSt table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }
  
  .sectListSt th,
  .sectListSt td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .sectListSt th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .sectListSt tbody tr:hover {
    background-color: #f9f9f9;
  }
  .showSecList{
    position: relative;
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
  }
/* Admin Dashboard */
.adminDash{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.adminTitle{
    position: absolute;
    display: flex;
    width: 80%;
    height: 130px;
    background-color: #000033;
    top: 0%;
    left: 20%;
}
.adminTitle > h1{
    color: #45c1ea;
    font-size: 40px;
    margin-top: 40px;
    margin-left: 250px;
}
.adminTitle > img{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 30px;
}
.adminMenu{
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: #0c0c0c;
}
.adminMenu > img{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.adminMenu > h3{
    position: relative;
    color: white;
    margin-top: 20px;
}
.adManage{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-bottom: 1px solid gray;
}
.adManage > button{
    height: 40px;
    border: none;
    background: transparent;
    color: gray;
    align-self: start;
}
.adManage > p{
    position: relative;
    color: gray;
    right: 50px;
}
.manStrand{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    border-bottom: 1px solid gray;
    margin-top: 10px;
}
.manStrand > button{
    height: 40px;
    border: none;
    background: transparent;
    color: gray;
    align-self: start;
}
.adSettings{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 10px;
}
.adSettings > button{
    height: 40px;
    border: none;
    background: transparent;
    color: gray;
    align-self: start;
}
.manStud{
    display: none;
}
.manStud > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.manFS{
    display: none;
}
.manFS > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.manSub{
    display: none;
}
.manSub > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.subAdd{
    display: none;
}
.subAdd > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.manStand{
    display: none;
}
.manStand > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.manWholeClass{
    display: none;
}
.manWholeClass > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.manStuds{
    display: none;
}
.manStuds > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.manGroupSec{
    display: none;
}
.manGroupSec > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.manDelStud{
    display: none;
}
.manDelStud > button{
    width: 200px;
    border: none;
    background: transparent;
    color: grey;
}
.adShow{
    display: flex;
    flex-direction: column;
}
.addSub{
    display: none;
}
.addSub > h1{
    position: relative;
    color: #000033;
    margin-bottom: 40px;
}
.addSub > label{
    position: relative;
    display: block;
    align-self: start;
    margin-left: 40px;
    margin-top: 10px;
}
.addSub > input{
    position: relative;
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.addSub > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.addSub > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.addStn{
    display: none;
}
.addStn > h1{
    position: relative;
    color: #000033;
    margin-bottom: 40px;
}
.addStn > label{
    position: relative;
    display: block;
    align-self: start;
    margin-left: 40px;
    margin-top: 10px;
}
.addStn > input{
    position: relative;
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.addStn > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.addSec{
    display: none;
}
.addSec > label{
    position: relative;
    display: block;
    align-self: start;
    margin-left: 40px;
    margin-top: 10px;
}
.addSec > input{
    position: relative;
    border: none;
    border-bottom: 2px solid black;
    width: 350px;
    height: 30px;
    margin-left: 40px;
}
.addSec > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.addSec > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.showManSubjh{
    display: none;
}
.showManSubjh > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.showManSubjh > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.showManSubsh{
    display: none;
}
.showManSubsh > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.showManSubsh > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.sectJuniorHigh{
    display: none;
}
.sectJuniorHigh > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.sectJuniorHigh > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.sectSeniorHigh{
    display: none;
}
.sectSeniorHigh > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.sectSeniorHigh > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.delStudentjh{
    display: none;
}
.delStudentjh > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.delStudentjh > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.delStudentsh{
    display: none;
}
.delStudentsh > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.delStudentsh > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.delTeacher{
    display: none;
}
.delTeacher > select{
    position: relative;
    width: 350px;
    height: 30px;
    margin-left: 40px;
    margin-top: 20px;
}
.delTeacher > button{
    position: relative;
    background-color: #45c1ea;
    color: #000033;
    width: 80px;
    height: 35px;
    margin-top: 20px;
    margin-left: 310px;
    margin-bottom: 20px;
    font-weight: bolder;
}
.showAddSub{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 450px;
    border: black solid 2px;
    margin-left: 400px;
    margin-top: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.adShowManage{
    position: absolute;
    left: 20%;
    top: 130px;
    display: flex;
}
.subAddJunior.active{
    background-color: white;
}
.subAddSenior.active{
    background-color: white;
}
.adSuccessPane{
    display: none;
}
.adSuccessPane > h2{
    position: relative;
    margin-top: 20px;
    color: #000033;
}
.adSuccessPane > button{
    position: relative;
    height: 35px;
    width: 90px;
    margin-left: 140px;
    margin-top: 20px;
    border-radius: 8px;
    color: #000033;
    background-color: #45c1ea;
    font-weight: bold;
}
.showAdSuccessPane{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    width: 380px;
    height: 170px;
    top: 45%;
    left: 37%;
    border-radius: 8px;
    z-index: 10;
}
.showJuniorStuds{
    display: none;

}
.showJuniorStuds table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }
  
  .showJuniorStuds th,
  .showJuniorStuds td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .showJuniorStuds th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .showJuniorStuds tbody tr:hover {
    background-color: #f9f9f9;
  }
  .showSeniorStud{
    display: none;
  }
  .showSeniorStud table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }
  
  .showSeniorStud th,
  .showSeniorStud td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .showSeniorStud th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .showSeniorStud tbody tr:hover {
    background-color: #f9f9f9;
  }
  .showTeacherssn{
    display: none;
  }
  .showTeacherssn table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }
  
  .showTeacherssn th,
  .showTeacherssn td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .showTeacherssn th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .showTeacherssn tbody tr:hover {
    background-color: #f9f9f9;
  }
  .seeStudTbl{
    position: relative;
    display: flex;
    margin-top: 100px;
    margin-left: 200px;
  }
.studOpt{
    display: none;
}
.studOpt > button{
    position: relative;
    height: 20px;
}
.showstudOpt{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px;
    z-index: 10;
}



